:root {
  --width-nav: 80px;

  --transition1: 1s;
  --transition2: ease-in-out 0.7s;
}
body {
  background-color: #f4f5fa;
}
.dashboard-nav {
  background: var(--secondary-color);

  height: 100vh;

  position: fixed;

  padding: 10px 15px;
}

.dashboard-nav {
  width: var(--width-nav);
}

.dashboard-nav header {
  display: flex;
  align-items: center;
  gap: 30px;
}

nav header > .box {
  background: var(--logo);
}

nav ul {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

nav a {
  text-decoration: none;

  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-min {
  transition: var(--transition2);
}

.nav-min h1,
.nav-min span {
  opacity: 0;
  visibility: hidden;
  transition: var(--transition1);
}

.nav-max {
  /* width: 300px; */
  transition: var(--transition2);
}

.nav-max span,
.nav-max h1 {
  /*   overflow: clip; */
  opacity: 1;
  transition: 3s;
  color: var(--text-color);
}

.nav-link {
  height: 60px;
}

.nav-link > .box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-link:hover {
  border-radius: 4px;
}
.nav-link:hover span {
  color: var(--text-color);
  text-decoration: underline;
}
.nav-link > span {
  white-space: nowrap;
}
.nav-link > .box i {
  color: var(--text-color);
  font-size: 20px;
}

#toggle-nav-btn,.toggle-nav-btn {
  right: -12px;
  position: absolute;
  border: solid grey 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: wheat;
}

/* ==shapes== */
.box {
  background: var(--primary-color);
  min-width: 50px;
  max-width: 50px;
  height: 50px;
  border-radius: 10px;
}

.circle {
  background: var(--primary-color);
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

nav hr {
  background: var(--primary-color);
  width: 95%;
  height: 3px;

  display: block;

  border-radius: 196px;
  border: none;

  position: relative;
  bottom: 10px;
  margin-bottom: 20px;
}

h1,
span {
  overflow: clip;
}

.content {
  width: calc(100% - var(--width-nav));
  padding: 0 2rem;
  transform: translateX(var(--width-nav));
  transition: var(--transition2);
}

/* -----------------------------------Danh sách sản phẩm---------------------------------------*/
button.accordion {
  width: 50%;
  border: none;
  outline: none;
  text-align: left;
  padding: 15px 20px;
  font-size: 18px;
  color: #333;
  cursor: pointer;
  transition: background-color 0.2s linear;
}

button.accordion.is-open + .accordion-content,
button.accordion.is-open i {
  opacity: 1;
  visibility: visible;
}
button.accordion + .accordion-content{
  opacity: 0;
  visibility: hidden;
}
button.accordion i {
  font-size: 18px;
  float: right;
}

button.accordion:hover,
button.accordion.is-open {
  background-color: #ddd;
}

.accordion-content {
  border: none;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 5px;
  margin-bottom: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  padding: 10px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
}

.show-btn {
  background: #fff;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 500;
  color: #3498db;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.show-btn,
.modal-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#addDm {
  width: 50px;
  height: 50px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}
